body {
	background: url("../images/woodWall.jpg");
	background-repeat: repeat;
}
.bodycontainer {
	margin-top: 80px;
}
.navbar {
	box-shadow: 0px 2px 4px black;
}
h2{
	margin: 0;     
	color: #666;
	padding-top: 10px;
	font-size: 52px;
	font-family: "trebuchet ms", sans-serif;    
}
h2 img{
	
}
.item{
	text-align: center;
	height: 300px !important;
}
.carousel{
	margin-top: 20px;
}
.control-buttons{
	text-align:center;
}
.navbar-inverse .navbar-brand {
	background: url("../images/mobileBrand.jpg");
	width: 60px;
	color: rgba(255,255,255,0.9);
	font-size: 12px;
	line-height: 130%;
	margin: 0;
	padding: 5px 5px 0;
}
/* Added by Jeff Codling */
.booklist {
	margin-top: 80px;
	text-align: center;
}
.book {
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px black;
  transition: ease .75s;
}
.book img {
	width: 120px;
	height: 160px;
  transition: ease .75s;
}
.book:hover img {
  box-shadow: 6px 6px 8px black;
  transition: ease .75s;
}
.book:hover, .book h3:hover, .book p:hover {
  color: rgb(255,240,0);
  text-shadow: 4px 4px 6px black;
  transition: ease .75s;
}
.singlebook {
	text-align: center;
  font-size: 16px;
}
.singlebook img {
  padding: 15px;
}
.booktitle {
  margin: 15px 0 0;
  text-align: left;
  font-weight: bold;
  font-size: 24px;
}
.bookauthor {
  margin: 5px 0;
  text-align: left;
  font-size: 18px;
}
.bookplot {
  text-align: left;
  font-size: 16px;
}
.bookprice {
  text-align: left;
}
.pagination {
	clear: both;
}
.pagination li a {
	margin: 10px auto;
	color: black;
}
.pagination .active a {
	color: white;
	background: black;
	border-color: black;
}
.pagination .active a:hover {
	color: white;
	background: black;
}
.bottompagination {
	width: 100%;
	text-align: center;
}