body {
	background: url("../images/woodWall.jpg");
	background-repeat: repeat;
}
.bodycontainer {
	margin-top: 80px;
}
.navbar {
	box-shadow: 0px 2px 4px black;
}
h2{
	margin: 0;     
	color: #666;
	padding-top: 10px;
	font-size: 52px;
	font-family: "trebuchet ms", sans-serif;    
}
h2 img{
	
}
.item{
	text-align: center;
	height: 300px !important;
}
.carousel{
	margin-top: 20px;
}
.control-buttons{
	text-align:center;
}
.navbar-inverse .navbar-brand {
	background: url("../images/mobileBrand.jpg");
	color: white;
}
/* Added by Jeff Codling */
.booklist {
	margin-top: 80px;
	text-align: center;
}
.book {
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px black;
  transition: ease .75s;
}
.book img {
  transition: ease .75s;
}
.book:hover img {
  box-shadow: 6px 6px 8px black;
  transition: ease .75s;
}
.book:hover, .book h3:hover, .book p:hover {
  color: rgb(255,240,0);
  text-shadow: 4px 4px 6px black;
  transition: ease .75s;
}
.singlebook {
	margin-top: 80px;
	text-align: center;
  font-size: 16px;
  background: rgba(255,255,255,0.8);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.singlebook img {
  float: left;
  margin: 15px;
  border: 1px solid black;
}
.booktitle {
  margin: 15px 0 0;
  text-align: left;
  font-weight: bold;
  font-size: 24px;
}
.bookauthor {
  margin: 5px 0;
  text-align: left;
  font-size: 18px;
}
.bookplot {
  text-align: left;
  font-size: 16px;
}
.bookprice {
  text-align: left;
}
